/* id's */

#main-container {
  place-items: center center;
}

#sign-in-form {
  max-width: 330px;
}

/* classes */

.form-control:focus {
  z-index: 5;
}

.calendar {
  display: grid;
  row-gap: 10rem;
}

.carousel-images {
  width: 200px;
  height: 200px;
}

.create-button {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: '100vh'; */
}

.center-h1 {
  text-align: center;
}

.centralize {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: '100vh'; */
}

.container-test {
  background-color: grey;
}

@media (max-width: 768px) {
  .navbar-content {
    display: none !important;
  }
}

@media (min-width: 768px) {
  .hide-sidebar-content {
    display: none !important;
  }
}

.nb-title {
  margin-left: 1rem;
}

/* Sidebar styling*/

.sidebar {
  padding-left: 0.7rem;
  background-color: #dae6f3;
  height: 100% !important;
}

@media (min-width: 768px) {
  .sidebar {
    padding-left: 0.7rem;
    background-color: #dae6f3; /*endret farge fra lightblue*/
    height: 100vh;
  }
}

.sidebar-col {
  padding-left: 0 !important;
}

.sidebar-wrapper {
  height: 100vh;
  position: sticky;
  top: 56px;
}

/* Sidebar styling end*/

.spinning-wheel {
  position: absolute;
  left: 55%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.centralize-2 {
  text-align: center;
  justify-content: center;
}

/* .sticky-nav {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;
} */

.scroll::-webkit-scrollbar {
  display: none;
}
.scroll {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
